<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="author" content={% block author %}"{{ settingsData.Site|default()|raw }}"{% endblock %} />
    <meta name="keywords" content={% block keywords %}"{{ settingsData.Keywords|default()|raw }}"{% endblock %} />
    <meta name="description" content={% block description %}"{{ settingsData.Description|default()|raw }}"{% endblock %} />
    <meta name="og:title" property="og:title" content={% block ogtitle %}"{{ settingsData.Title|default()|raw }}"{% endblock %} />
    <meta name="og:description" property="og:description" content={% block ogdescription %}"{{ settingsData.Description|default()|raw }}"{% endblock %} />
    <meta name="og:image" property="og:image" content={% block ogimage %}"{{ settingsData.Ogimage.thumbnails.card_cover.signedUrl|default()|raw }}"{% endblock %} />
    <meta name="twitter:title" content={% block twittitle %}"{{ settingsData.Title|default()|raw }}"{% endblock %} />
    <meta name="twitter:description" content={% block twitdescription %}"{{ settingsData.Description|default()|raw }}"{% endblock %} />
    <meta name="twitter:image" content={% block twitimage %}"{{ settingsData.Ogimage.thumbnails.card_cover.signedUrl|default()|raw }}"{% endblock %} />
    <meta name="twitter:card" content="summary_large_image" />
    
    <title>{% block title %}{{ title|default('settingsData.Site')|raw }}{% endblock %}</title>

    <!-- Favicons and Icons -->
    <link rel="icon" type="image/png" href="/templates/assets/images/icons/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/templates/assets/images/icons/favicon.svg" />
    <link rel="shortcut icon" href="/templates/assets/images/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/templates/assets/images/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Dezajno" />
    <link rel="manifest" href="/templates/assets/site.webmanifest" />

    <!-- Tailwind CSS and Font Awesome -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 font-sans">

    <!-- Header -->
    <header class="bg-black shadow">
        <div class="container mx-auto px-6 py-4">
            <a href="/"><h1 class="text-3xl font-bold text-red-500">{{ settingsData.Site }}</h1></a>
        </div>
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="bg-black shadow mt-8">
        <div class="container mx-auto px-6 py-4">
            <p class="text-center text-red-500">© 2024 Dezajno.ru. All rights reserved.</p>
        </div>
    </footer>

    {% block script %}{{ script|default('')|raw }}{% endblock %}

    <!-- Service Worker -->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/templates/assets/js/service-worker.js').then(registration => {
                    console.log('Service Worker registered with scope:', registration.scope);
                }).catch(error => {
                    console.log('Service Worker registration failed:', error);
                });
            });
        }
    </script>

</body>
</html>