{% extends "base.twig" %}

{% block title %}{{ record.Title }}{% endblock %}

{% block content %}

        <!-- Featured Article -->
        <div class="bg-white shadow-lg overflow-hidden mb-8">
            {% block top %}{{ top|default('')|raw }}{% endblock %}
        </div>

    <!-- Main Content -->
    <main class="container mx-auto px-6 py-8">



        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Сжатие изображений</h2>
        {% block middle1 %}{{ middle1|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Web-утилиты</h2>
        {% block middle2 %}{{ middle2|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Генераторы изображений</h2>
        {% block middle3 %}{{ middle3|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Онлайн-редакторы</h2>
        {% block middle4 %}{{ middle4|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Текстуры и фоны</h2>
        {% block middle5 %}{{ middle5|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Создание логотипов</h2>
        {% block middle6 %}{{ middle6|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Конвертеры</h2>
        {% block middle7 %}{{ middle7|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Подбор палитры</h2>
        {% block middle8 %}{{ middle8|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Создание фавиконов</h2>
        {% block middle9 %}{{ middle9|default('')|raw }}{% endblock %}

        <h2 class="text-2xl font-semibold text-purple-600 mb-6">Разработка шрифтов</h2>
        {% block middle10 %}{{ middle10|default('')|raw }}{% endblock %}

            <!-- Other Posts -->
        {% block bottom %}{{ bottom|default('')|raw }}{% endblock %}

    </main>

    {% if pagination is defined %}
        <div class="pagination mt-6 flex justify-center space-x-4">
            {% if pagination.currentPage > 1 %}
                <a href="{% if pagination.currentPage > 2 %}?page={{ pagination.currentPage - 1 }}&count={{ pagination.count }}{% else %}{{ path }}{% endif %}" class="px-4 py-2 bg-blue-500 text-white rounded">Previous</a>
            {% endif %}

            {% for page in 1..pagination.totalPages %}
                <a href="{% if page > 1 %}?page={{ page }}&count={{ pagination.count }}{% else %}{{ path }}{% endif %}" class="px-4 py-2 bg-blue-500 text-white rounded {% if page == pagination.currentPage %}bg-blue-700{% endif %}">{{ page }}</a>
            {% endfor %}

            {% if pagination.currentPage < pagination.totalPages %}
                <a href="?page={{ pagination.currentPage + 1 }}&count={{ pagination.count }}" class="px-4 py-2 bg-blue-500 text-white rounded">Next</a>
            {% endif %}
        </div>
    {% endif %}        

{% endblock %}